.mainDeck {
  height: 95%;
  overflow: auto;
  width: calc((170px + 22px) * 4 + 20px);
  -ms-overflow-style: none;
  padding-top: 10px;
  text-align: end;
  font-family: "Pill";

  h2 {
    color: white;
    font-size: 24px;
    text-align: center;
  }

  .faction {
    margin-bottom: 80px;
    margin-right: 20px;
  }  

  &::-webkit-scrollbar {
    display: none;
  }
  
  img {
    border-radius: 6px 10px 13px 12px;
    width: 170px;
    height: auto;
    margin: 10px;
    transition: all 0.1s ease-out;
    cursor: pointer;

    &:hover {
      transform: scale(1.05);
      box-shadow: 0px 0px 15px #ffac00;
    }
  }
}