.handDeck {
  display: flex;
  position: relative;
  top: 88%;
  left: 60px;
  justify-content: space-between;
  width: calc(100% - 60px);
  position: absolute;

  img {
    width: 105px;
    border-radius: 6px 10px 13px 12px;
    margin-left: -10%;
    transition: transform 0.3s ease;
    cursor: pointer;

    &:hover {
      transform: translateY(-10px);
      box-shadow: 0px 0px 15px #ffac00;
    }

    &:first-child {
      margin-left: 0;
    }
  }

  &.enemyHand {
    transition: transform 1s ease;
    top: -150px;

    img {
      transform: translateY(-200px) rotate(180deg);
    }

    &:hover img {
      transform: translateY(50px) rotate(180deg);
    }
  }
}