.infoDeck {
  //width: calc(100vw - ((170px + 20px) * 4 + 25px) * 2);
  width: auto;
  align-self: center;
  font-family: "Pill";

  p, span {
    text-align: center;
    color: white;
    font-size: 20px;
    margin-bottom: 15px;
  }

  .specialesDiv {
    text-align: center;
  }

  .speciales {
    display: inline-block;
  }

  .infoTitle {
    font-size: 18px;
    margin-bottom: 5px;
  }
}