.infoDeck {
  //width: calc(100vw - ((170px + 20px) * 4 + 25px) * 2);
  width: auto;

  .Neutre, .Monstres, .Skellige, .Nilfgaard, .ScoiaTael {
		display: none;
  }

  p {
    text-align: center;
    color: white;
    font-size: 20px;
  }
}