@font-face {
  font-family: 'Thewitcher';
  src: url('../assets/fonts/Thewitcher-jnOj.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Thewitcher';
  src: url('../assets/fonts/thewitcher.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Thewitcher';
  src: url('../assets/fonts/Thewitcher-jnOj.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Pill';
  src: url('../assets/fonts/Pill-Gothic-600mg-Regular.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Pill';
  src: url('../assets/fonts/Pill-Gothic-600mg-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
