.deck {
  height: 95%;
  overflow: auto;
  width: calc((170px + 20px) * 4 + 20px);
  -ms-overflow-style: none;

  .faction {
    margin-bottom: 80px;
    margin-left: 20px
  }  

  &::-webkit-scrollbar {
    display: none;
  }

	.Neutre, .Monstres, .Skellige, .Nilfgaard, .ScoiaTael {
		display: none;
	}
}