.deck {
  height: 95%;
  overflow: auto;
  width: calc((170px + 22px) * 4 + 20px);
  -ms-overflow-style: none;
  padding-top: 10px;

  h2 {
    color: white;
    font-size: 24px;
    text-align: center;
  }

  .faction {
    margin-bottom: 80px;
    margin-left: 20px;
  }  

  &::-webkit-scrollbar {
    display: none;
  }

	.Neutre, .Monstres, .Skellige, .Nilfgaard, .ScoiaTael {
		display: none;
	}
}