.classe {
  //background: url("/images/gwyntBackground.jpg");
  background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url("/images/gwyntBackground.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  max-width: 100vw;
  height: 100vh;

  .factionName {
    display: flex;
    margin: auto;
    list-style: none;
    justify-content: space-evenly;
    justify-content: center;
    padding-top: 20px;
    margin-bottom: 60px;

    li {
      color: #ffffff;
      font-size: 30px;
      margin-right: 20px;
      margin-left: 20px;
      cursor: pointer;
      font-family: "Pill";
    }
  }

  .mainContainer {
    height: 90%;
    display: flex;
    justify-content: space-between;

    .deck img {
      border-radius: 6px 10px 13px 12px;
      width: 170px;
      height: auto;
      margin: 10px;
      transition: all 0.1s ease-out;
      cursor: pointer;

      &:hover {
        transform: scale(1.05);
        box-shadow: 0px 0px 15px #ffac00;
      }
    }

    .infoCard {
      z-index: 2;
      width: 100vw;
      height: 100vh;
      position: absolute;
      top: 0;
      left: 0;
      background-color: rgba(0, 0, 0, 0.795);
      text-align: center;

      .close {
        position: absolute;
        right: 32px;
        top: 32px;
        width: 32px;
        height: 32px;
        cursor: pointer;
      }

      .close:hover {
        opacity: 1;
      }

      .close:before, .close:after {
        position: absolute;
        left: 15px;
        content: ' ';
        height: 33px;
        width: 4px;
        background-color: white;
      }

      .close:before {
        transform: rotate(45deg);
      }

      .close:after {
        transform: rotate(-45deg);
      }      
      
      img {
        margin-top: 10%;
        margin-bottom: 3%;
        width: 230px;
      }
  
      p {
        color: #B28D41;
        font-size: 18px;

        &:first-child {
          font-size: 20px;
          margin-bottom: 10px;
          font-weight: bold;
        }
      }

      .infoCardText {
        background-color: black;
        width: 60%;
        margin: auto;
        border-top: 2px solid rgba(85, 85, 85, 0.527);
        border-bottom: 2px solid rgba(85, 85, 85, 0.527);
        padding: 20px 10px;
      }
    }
  }

  .command {
    position: absolute;
    padding: 5px 10px;
    right: 0px;
    bottom: 0px;
    display: flex;
    color: white;
    font-family: "Pill";
    align-items: center;
    background-color: rgba(0, 0, 0, 0.65);
    font-weight: bold;

    div {
      margin-right: 10px;
      margin-left: 20px;
      border-radius: 5px;
      background-color: #dddddd;
      color: black;
      padding: 4px;
    }
  }

  .warning {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.795);
    display: none;

    .border {
      border: 5px solid #B28D41;
      width: 500px;
      position: relative;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      padding: 20px 0px;
    }

    p {
      color: white;
      font-family: "Pill";
      text-align: center;
      font-size: 23px;
    }

    .close {
      position: absolute;
      right: 32px;
      top: 32px;
      width: 32px;
      height: 32px;
      cursor: pointer;
    }

    .close:hover {
      opacity: 1;
    }

    .close:before, .close:after {
      position: absolute;
      left: 15px;
      content: ' ';
      height: 33px;
      width: 4px;
      background-color: white;
    }

    .close:before {
      transform: rotate(45deg);
    }

    .close:after {
      transform: rotate(-45deg);
    }   
  }
}