.game {
  display: flex;
  background-image: url("../assets/img/board.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  max-width: 100vw;
  height: 100vh;
  max-height: 100vh;
  overflow: hidden;

  .score {
    width: 20%;
  }

  .stockCard {
    width: 15%;
    position: relative;
  }

  .gameArea {
    width: 65%;
    position: relative;

    .infoCard {
      left: -20vw;
    }
  }

  .infoCardText {
    font-family: "Pill";
  }
}
