.fullScreenIcon {

  .exitFullScreen {
    height: 30px;
    width: 30px;
  }

  img {
    width: 20px;
    height: 20px;
    cursor: pointer;
    filter: invert(100%) sepia(0%) saturate(7478%) hue-rotate(51deg) brightness(110%) contrast(94%);
    margin: 0 10px;
  }
}