@keyframes hover-ripple {
  100% {
    top: -10px;
    left: -10px;
    right: -10px;
    bottom: -10px;
    opacity: 0;
  }
}
.App {
  overflow: hidden;
}

/* //// HOME //// */

.menu {
  width: 100vw;
  height: 100vh;
  background: url("/images/gwyntBackground.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  .gameTitle {
    margin: auto;
    width: 60vw;
    padding-top: 15vh;

    img {
      display: block;
      margin: auto;
    }

    img:first-child {
      width: 70%;
      height: auto;
      object-position: center;
      object-fit: unset;
    }

    img:last-child {
      width: 12%;
      margin-top: 5%;
    }
  }

  button {
    color: white;
    height: 50px;
    width: 150px;
    background-color: #B28D41;
    cursor: pointer;
    border: none;
    font-size: 28px;
    margin-top: 10vh;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
  }
  
  .hover-ripple {
    position: relative;
    
    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      border: 5px #B28D41 solid;
      animation-duration: 1s;
    }

    &:hover::before {
      animation-name: hover-ripple;
    }
  }
}

/* //// CLASSE //// */

.classe {
  background: url("/images/gwyntBackground.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  max-width: 100vw;
  height: 100vh;

  .factionName {
    display: flex;
    margin: auto;
    list-style: none;
    justify-content: space-evenly;
    justify-content: center;
    padding-top: 20px;
    margin-bottom: 60px;

    li {
      color: #ffffff;
      font-size: 30px;
      margin-right: 20px;
      margin-left: 20px;
      cursor: pointer
    }
  }

  .mainContainer {

    .deck img {
      border-radius: 6px 10px 13px 12px;
      width: 170px;
      height: auto;
      margin: 10px;
      transition: all 0.3s ease-out;
      cursor: pointer;

      &:hover {
        transform: scale(1.1);
      }
    }

    .faction {
      margin-bottom: 80px;
      width: 40%;
      margin-left: 20px
    }

    .Neutre, .Monstres, .Skellige, .Nilfgaard, .ScoiaTael {
      display: none;
    }
  }
}
